@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-bold';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-medium';
	src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto-Medium;
}
/* span, a {word-break: break-all;} */
/* format */
.gg-text-center {
	text-align: center !important
}

.gg-text-left {
	text-align: left !important
}

.gg-text-right {
	text-align: right !important
}

.gg-disp-block {
	display: block !important
}

.gg-disp-inline {
	display: inline !important
}

.gg-disp-none {
	display: none !important
}
.z-messagebox-window.z-window-highlighted .z-window-content > table:last-child > tbody > tr > td > table > tbody > tr > td:first-child button {
	background-color : #d9534f !important;
	color:white !important;
}
.z-messagebox-button {
	background-color: #fff !important;
    color: #000 !important;
}
.z-hbox .z-messagebox {
	display: flex;
    align-items: center;
    height: 100%;
}
#toast-container > div {
	box-shadow : none;
}
.toast-error {
	box-shadow : none !important;
	opacity:1 !important;
}
.toast-title {
	font-family: Roboto-Bold !important;
}

.z-checkbox-toggle-off > .z-checkbox-mold {
    background-color: red;
}
.btn-upload-image-avarta {
	border-radius: 50%;
    height: 36px;
    width: 36px;
    background:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-upload-image-avarta:hover {
	background:#FFF !important;
}
.btn-upload-image-avarta:focus {
	background:#FFF !important;
}
.edit-style-list .z-listbox-header {
	padding-right:10px;
}
/* Header */
.wd-header {
	/*background-color: #212121 !important;*/
	/* background-color: #A80707 !important; */
	background-color: #1D2E50 !important;
	display: flex;
	justify-content: space-between;
}

.wd-header .fa-fw, .wd-header .fa {
	color: #fff;
	/* padding-right: 5px; */
}

.wd-header .fa-sign-out {
	color: #6b6b6b;
}

.wd-header.navbar {
	min-height: 35px;
	padding-top: 2px;
	height: 60px;
	font-family: Montserrat-bold;
}

.div-image-btn btn:hover{
	
}

.wd-header .navbar-top-links {
	margin-top: 4px;
	height: 30px
}
.input-no-button input{
	width:100% !important;
	border:1px solid #E0E2E6 !important;
}
.input-no-button .z-combobox-input[readonly]{
	width:100% !important;
}
.wd-header .navbar-brand {
	padding: 2px 10px;
	height: auto;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
}

.box-header-users {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.box-header-users span span {
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #FFFFFF;
	text-align: left;
	line-height: 20px;
	padding-left: 4px;
}

.box-header-users i {
	color: #FFFFFF;
	padding-left: 4px;
}

.wd-header.navbar-default .navbar-nav>li a {
	font-size: 13px;
	color: #a4abb9;
	text-align: left;
	line-height: 22px;
	margin-right: 30px;
	font-weight: 700;
}

.wd-header.navbar-default .navbar-nav>li:hover {
	opacity: 1;
}

.notify-nothing {
	margin: 0 auto;
}

.notify-nothing span {
	font-family: Roboto-Regular;
	font-size: 13px;
	color: #888888;
	letter-spacing: 0;
	line-height: 16px;
}

.wd-header.navbar-default .navbar-nav>li.open a.dropdown-toggle,
	.wd-header.navbar-default .navbar-nav>li>a:hover, .wd-header .navbar-default .navbar-nav>li>a:focus,
	.wd-header.navbar-default .navbar-nav>.active>a, .wd-header.navbar-default .navbar-nav>.active>a:hover,
	.wd-header.navbar-default .navbar-nav>.active>a:focus {
	/*background-color: #2C2C2C !important;*/
	/* background-color: #D80707 !important; */
	opacity: 1;
	color: #FFFFFF;
}

.dropdown .z-label {
	font-size: 13px
}

.wd-header.navbar-default .navbar-nav>li .active-header {
	color: #FFF;
}

.active-header {
	opacity: 1;
	color: #FFFFFF;
}

.active-heder-li .text-menu {
	color: #2772E0;
	font-family: Roboto-Bold;
}

.active-heder-li {
	text-decoration: none;
	line-height: 25px;
	background: rgba(121, 149, 216, 0.1);
}
.active-heder-li-children .text-menu {
	font-family: Roboto-Bold;
}
.active-heder-li-children {
	text-decoration: none;
	line-height: 25px;
	background: rgba(121, 149, 216, 0.1);
}
.wd-header .username {
	color: #fff;
	padding: 0px 3px;
	margin-top: 10px;
}

.link-forget {
	float: right;
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 10px
}

.wd-header .sidebar {
	margin-top: 45px;
}

.wd-header .navbar-collapse {
	float: left;
	margin: 15px 0px 15px 30px;
}

.wd-search-form {
	/*margin-top: 10px;
	margin-bottom: 20px;*/
	border-top: 1px solid #e8e5e5;
	border-bottom: 1px solid #e8e5e5;
	background: none repeat scroll 0 0 #F4F6F7;
	margin-bottom: 10px;
	margin-top: 0;
	padding: 20px 0px;
}

.hv-text-box {
	margin-right: 10px;
	background: #fff;
	border: 1px solid #e1e8ed;
	border-radius: 2px;
	font-size: 13px;
	height: 34px;
	padding-left: 10px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	color: #000;
}

.wd-search-form .z-vlayout-inner button {
	margin-top: -1px;
}

.user-input {
	margin-top: 5px;
}

.navbar-right .search-text {
	height: 36px;
	width: 270px;
	margin: 5px auto;
	background: #1D2E50;
	border: 1px solid rgba(255, 255, 255, 0.20);
	border-radius: 3px;
	color: #FFFFFF;
}

.navbar-right .search-text {
	position: relative;
}

.navbar-right .icon-search {
	position: absolute;
	bottom: 10px;
	right: 10px;
	opacity: 0.6;
}

.navbar-right .icon-search:hover {
	opacity: 1;
	background-color: #1D2E50 !important;
}

.wd-search-form .col-xs-1, .wd-search-form .col-sm-1, .wd-search-form .col-md-1,
	.wd-search-form .col-lg-1, .wd-search-form .col-xs-2, .wd-search-form .col-sm-2,
	.wd-search-form .col-md-2, .wd-search-form .col-lg-2, .wd-search-form .col-xs-3,
	.wd-search-form .col-sm-3, .wd-search-form .col-md-3, .wd-search-form .col-lg-3,
	.wd-search-form .col-xs-4, .wd-search-form .col-sm-4, .wd-search-form .col-md-4,
	.wd-search-form .col-lg-4, .wd-search-form .col-xs-5, .wd-search-form .col-sm-5,
	.wd-search-form .col-md-5, .wd-search-form .col-lg-5, .wd-search-form .col-xs-6,
	.wd-search-form .col-sm-6, .wd-search-form .col-md-6, .wd-search-form .col-lg-6,
	.wd-search-form .col-xs-7, .wd-search-form .col-sm-7, .wd-search-form .col-md-7,
	.wd-search-form .col-lg-7, .wd-search-form .col-xs-8, .wd-search-form .col-sm-8,
	.wd-search-form .col-md-8, .wd-search-form .col-lg-8, .wd-search-form .col-xs-9,
	.wd-search-form .col-sm-9, .wd-search-form .col-md-9, .wd-search-form .col-lg-9,
	.wd-search-form .col-xs-10, .wd-search-form .col-sm-10, .wd-search-form .col-md-10,
	.wd-search-form .col-lg-10, .wd-search-form .col-xs-11, .wd-search-form .col-sm-11,
	.wd-search-form .col-md-11, .wd-search-form .col-lg-11, .wd-search-form .col-xs-12,
	.wd-search-form .col-sm-12 {
	/*padding-right: 0px;*/
	
}

.navbar-header {
	margin-left: 15px;
	display: flex;
}

.no-gutter {
	margin-right: 0;
	margin-left: 0; [ class *="col-"] { padding-right : 0;
	padding-left: 0;
}

}
.wd-search-form .row {
	margin-left: 10px;
	margin-right: 10px;
}

.cb-search {
	margin-top: 10px;
}

.issue-search {
	font-size: 13px;
	color: #2C2C2C;
	font-family: Roboto-Medium;
}

.wd-search-form [class*='col-']:not (:first-child ), .wd-search-form [class*='col-']:not
	(:last-child ) {
	padding-right: 5px;
	padding-left: 0;
}

.wd-search-form .btn {
	height: 35px
}

.wd-vmargin-space {
	margin-top: 10px;
}

.wd-action-bar {
	float: right;
	position: relative;
	bottom: 5px;
	border-left: 1px solid #ddd;
	padding: 5px 0px 5px 0px;
}

.panel-list.ho-tro {
	margin: 10px 20px;
}

.panel-list-fit {
	width: fit-content;
}

.panel-top {
	margin: 20px 20px !important;
}

.mo-windown .row {
	margin-bottom: 15px;
}

.img-popup {
	margin-right: 10px;
}

.formac-cauhinh {
	margin: 20px 5px;
}

.z-combobox-input[readonly] {
	width: calc(100% - 36px) !important;
	font-family: Roboto-Medium;
	font-size: 13px;
	color: #292A2D;
	text-align: left;
	line-height: 18px;
}

.formac-cauhinh .btn {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
	border-radius: 3px !important;
	line-height: 18px;
	font-size: 13px;
	font-family: Roboto-Bold;
	height: 36px;
}

.img-thaotac {
	margin: 0 10px;
}

.left {
	float: left;
}

.right {
	float: right;
	display: inline;
}

.formac-cauhinh .default {
	background: #FFFFFF;
	color: #4A4A4A;
	border: 1px solid #D8D8D8;
}

.formac-cauhinh .default:hover {
	background: #efeded;
}

.z-combobox-input[readonly] {
	background: #fff;
}

.formac-cauhinh .primary {
	color: #fff;
    background-color: #55acee;
    border-color: #55acee;
    box-shadow: 0 2px 2px 0 rgba(85,172,238,.14), 0 3px 1px -2px rgba(85,172,238,.2), 0 1px 5px 0 rgba(85,172,238,.12);
}

.formac-cauhinh .primary:hover {
	box-shadow: 0 14px 26px -12px rgba(85,172,238,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(85,172,238,.2);
}

.btn-custom {
	/* padding: 5px; */
	font-family: Roboto-Bold;
	font-size: 13px;
	color: #0076D7;
	text-align: right;
	line-height: 18px;
}

.btn {
	padding-left: 20px;
	padding-right: 20px;
}

.thaotac .btn-thaotac {
	display: inline-flex;
	height: 30px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.thaotac .left span {
	color: #4274ED !important;
}

.thaotac .up-note span {
	color: #C73A3A !important;
}
.thaotac .txt-color-xoa span{
	color: #C73A3A !important;
}
.up-note-del span {
	color: #C73A3A !important;
}

.thaotac .btn-thaotac span {
	font-family: Roboto-Regular;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 18px;
}

.thaotac .btn-thaotac img {
	padding-right: 6px;
}

.btn-thaotac : hover {
	background-color: #636363 !important;
}

.btn-thaotac .img-edit {
	
}

.btn-thaotac .img-see {
	width: 17px;
}

.img-add {
	margin-left: 20px;
}

.tb-search {
	border-top-left-radius: 3px !important;
	border-bottom-left-radius: 3px !important;
	border-radius: unset;
	-webkit-border-radius: unset;
	line-height: 18px !important;
}

.z-grid {
	width: auto;
	border-radius: 3px;
	margin-bottom: 15px;
}

.z-footer-content {
	background-color: #FFFFFF;
}

.custom-page {
	margin: 0 20px;
}

.title-thongke {
	margin-left: 12px;
	font-weight: bold !important;
}

.title-thongke .z-label {
	font-family: Roboto-Medium;
	font-size: 13px !important;
}

.page-content-size {
	font-family: Roboto-Regular;
	float: left;
	font-size: 13px;
	color: #4D515B;
	padding: 10px 10px;
}

.test {
	font-family: Roboto-Regular;
	float: left;
	font-size: 13px;
	color: #4D515B;
	padding: 10px 10px;
}

.z-label {
	font-family: Roboto-Regular;
}

.tb-search {
	font-family: Roboto-Regular;
}

.link-title {
	font-family: Roboto-Bold;
}

.name-q {
	text-transform: uppercase;
}
.w-popup-content-medium {
	margin-top: -15px;
}
.z-paging.z-paging-os {
	float: right;
	margin-bottom:15px;
	background:#FFF;
	padding-right:0;
}
.z-paging-button:hover {
	border-color:#D3D9E2;
	
}
.z-paging-button.z-paging-selected {
	margin: 0;
    width: auto;
    height: auto;
	font-family: Roboto-Medium;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 18px;
	background: #2569D4;
	border-radius: 2px 0 0 2px;
	border-top: 2px solid #2569D4;
}
.z-paging-button {
	margin: 0;
    width: auto;
    height: auto;
    padding: 5px 11px 5px 11px;
    text-align: center;
    background: #FFFFFF;
	border: 1px solid #D3D9E2;
	border-right:none;
	border-radius: 2px 0 0 2px;
	font-family: Roboto-Regular;
	font-size: 13px;
	line-height: 18px;
	color:#333;
}     
/* .z-paging-noborder {
	font-size: 24px;
    color: #3A3C41;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 7px;
} */
.z-paging-noborder:hover {
	border: 1px solid #D3D9E2;
	border-right:none;
	box-shadow: 0 0 2px rgba(0,0,0,0.34);
	text-decoration: none;
}
.z-paging-navigate a:hover {
	text-decoration: none;
}
.z-paging-os ul {
	display:flex;
}
.z-paging-os ul li{
	margin: 0;
    width: auto;
    height: auto;
}

.z-paging-os ul li:last-child{
	border-right: 1px solid #E0E2E6;
}

.form-trogiup {
	padding: 0 7.5px !important;
}

.page-header-trogiup {
	font-size: 24px;
	color: #2C2C2C;
	text-align: left;
	line-height: 34px;
	margin: 0 0 10px 0;
}

.div-image-btn {
	position: absolute;
	left: 150px;
	top: 205px;
}

.div-image-btn2 {
	position: absolute;
	left: 150px;
	top: 250px;
}

.avatar-home {
	width: 40px;
	float: left;
}

.avatar-home img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
}

.btn-ad-image {
	background-image: url('../../assets/img/front/camera.svg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	height: 36px;
	width: 36px;
}

.btn-ad-image:hover {
	background-image: url('../../assets/img/front/camera.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.btn-search-page {
	background: #0076D7;
	font-size: 13px;
	color: #FFFFFF;
	width: 100%;
	border: none;
	/*   border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important; */
}

.btn-search-page:hover {
	background-color: #1d2e50;
	color: #fff;
	border: none;
}

.wd-action-bar a {
	text-decoration: none;
}

/* cke */
.cke_dialog {
	width: 500px !important;
}

.cke_dialog_contents {
	width: 100%;
}

.wd-image-box>img {
	border: 1px solid #ddd
}

.img-search {
	margin-right: 10px;
	margin-bottom: 2px;
}
/* Menu - Header*/
.wd-header .navbar-top-links>li>a:hover, .wd-header .navbar-top-links>li>a:focus
	{
	/*background-color: #2C2C2C !important;*/
	background-color: #1D2E50 !important;
}

.wd-header .navbar-nav>li>a, .wd-header .navbar-top-links li a {
	padding: 2px 5px;
}

.wd-header .navbar-top-links .dropdown-menu li a {
	padding: 10px;
	min-height: 28px;
}

.wd-header .dropdown-menu>li>a {
	padding: 5px 15px !important;
}

.wd-header .dropdown-menu>li>a:hover, .wd-header .dropdown-menu>li>a:focus
	{
	/* color: #262626; */
	text-decoration: none;
	/* background-color: #EBEBEB; */
	background: #F4F6F7;
}

.wd-header .dropdown-menu>li>a:hover i, .wd-header .dropdown-menu>li>a:focus i
	{
	
}

.wd-header .navbar-top-links li a {
	min-height: 24px;
}

.wd-header .dropdown-menu {
	margin: 0px;
	padding: 2px 0;
	font-family: Roboto-Medium;
}
.z-listitem-selected .z-listitem-checkable {
	background:#4274ED !important;
}
.z-listitem-icon {
	color:#FFF !important;
}
.dropdown-menu {
	z-index: 1999;
}
.show-all-notify {
	display:flex;
	justify-content: center;
    align-items: center;
    height: 30px;
}
.wd-header .nav>li>a>img {
	width: 22px;
	height: 20px;
}

.wd-header .nav-title-page {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-title-page h5 {
	font-family: Montserrat-Bold;
	font-size: 12px;
	color: #FFFFFF;
	text-align: left;
	margin: 0;
	line-height: 20px;
}

.logo-image {
	height: 30px;
    margin: 13px 11px 12px 15px;
    width: 40px;
}
/* Upload File*/
.wd-upload-btn {
	/* background-color:#eee !important;
	border:1px solid #ccc !important;
	font-weight:normal;
	color:#333333 !important; */
	background: #F4F5F7;
	border: 1px solid #D8D8D8;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
	border-radius: 2px;
	color: #9B9B9B;
	font-weight: bold;
	align-items: center;
	display: flex;
	min-width: 23%;
}

.wd-upload-btn2 {
	background: #F4F5F7;
	border: 1px solid #D8D8D8;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
	border-radius: 2px;
	color: #9B9B9B;
	font-weight: bold;
	align-items: center;
	display: flex;
	height: 35px;
}

.up-note {
	float: right;
}

.upload-note {
	font-family: Roboto-Italic;
	font-size: 13px;
	color: #888888;
	font-style: italic;
}

.wd-upload-btn img {
	margin-right: 3%;
}

.row-button {
	margin-left: 15px;
}
/* Menu - Left */
.wd-left-menu {
	background-color: #3d3d3d
}

.wd-left-menu.sidebar .nav>li>a {
	color: #E4E4E4
}

.wd-left-menu.sidebar ul li a.active {
	background-color: #0F0F0F;
}

.wd-left-menu.sidebar ul li.active ul li {
	border-top: 1px solid #3d3d3d !important;
}

.wd-left-menu.sidebar ul li.active ul li a {
	background-color: #3d3d3d
}

.wd-left-menu.sidebar ul li.active ul li a:hover {
	background-color: #2E2D2D
}

.wd-left-menu.sidebar ul li.active a {
	background-color: #2E2D2D
}

.wd-left-menu .nav>li>a:hover, .wd-left-menu .nav>li>a:focus {
	text-decoration: none;
	background-color: #2E2D2D
}

.wd-left-menu.sidebar ul li {
	border-bottom: 1px solid #4E4E4E;
}

/* Menu- Left - Search  */
.wd-left-menu .custom-search-form {
	border-bottom: 1px solid #4E4E4E;
}

.wd-left-menu .custom-search-form  .form-control {
	background: none transparent;
	text-shadow: none;
	box-shadow: none;
	border: none;
	padding: 6px 0px;
	color: #E4E4E4;
	line-height: 18px !important;
}

.wd-left-menu .custom-search-form .btn-default {
	background: none transparent;
	text-shadow: none;
	box-shadow: none;
	border: none;
	padding: 7px 0px;
}

.img-title {
	margin-right: 5px;
}

.info-user {
	font-size: 13px;
	font-family: Roboto-Regular;
}

.info-user:hover {
	color: #0076d7 !important;
}

.error {
	color: red;
	margin-top: 7.5px;
	display: block;
}

.image-list {
	margin-top: 10px;
}

.img-info {
	margin-right: 5px;
}

.image-list .image-container {
	height: 150px;
	border: 1px solid #ccc;
	overflow: hidden;
	text-align: center; /* Align center inline elements */
	font: 0/0 a; /* Hide the characters like spaces */
}

.image-list .image-container:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.image-list .image-container  .centerer {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.image-list .image-container span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.image-list .image-container img {
	vertical-align: middle;
	display: inline-block;
}

.image-list .z-hlayout-inner {
	float: left;
	height: 270px;
}

.ten-file {
	display: inline;
}

.ten-file a {
	text-decoration: none;
}

.checkbox-primary input[type=checkbox]:checked+label::before {
	background-color: #428bca;
	border-color: #428bca;
}

.checkbox label::before {
	content: "";
	width: 17px;
	height: 17px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
	-o-transition: border .15s ease-in-out, color .15s ease-in-out;
	transition: border .15s ease-in-out, color .15s ease-in-out;
}

.checkbox label::after, .checkbox label::before {
	position: absolute;
	left: 0;
	bottom: 3px;
	display: inline-block;
}

.checkbox-primary input[type=checkbox]:checked+label::after {
	color: #fff;
}

.checkbox input[type=checkbox]:checked+label::after {
	font-family: FontAwesome;
	content: "\f00c";
}

.checkbox label::after {
	width: 16px;
	height: 16px;
	top: 0;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555;
}
.footer {
	background: #1D2E50;
	border-top: 1px solid #ccc;
	color: #fff;
	padding: 10px 0;
	text-align: left;
	position: fixed;
	bottom: 0;
	width: 100%; /* Height of the footer */
}

.footer label {
	font-weight: normal;
}

.pd-top-7 a {
	padding-top: 7px !important;
}

/* dashboard */
.dashboard .z-grid {
	border: none;
}

.dashboard .z-row .z-row-inner, .dashboard  .z-row .z-cell {
	border-bottom: 1px solid #eee !important;
	border-top: none !important;
	overflow: visible;
}

.dashboard-panel .panel-body {
	min-height: 250px;
	height: 300px;
	overflow-y: scroll;
}

.dashboard-panel .z-grid-header {
	display: none
}

.dashboard-panel .z-row-content, .dashboard-panel .z-group-content,
	.dashboard-panel .z-groupfoot-content, .dashboard-panel .z-footer-content
	{
	padding: 6px 8px 8px;
}

.f-uppercase {
	text-transform: uppercase;
}

.label {
	font-size: 13;
	font-weight: normal;
}

div .label-merge-header {
	text-align: center !important;
	font-size: 12px !important;
}

.z-tabs .z-tab:not (:first-child ) {
	border-width: 1px 1px 0 0px;
}

.z-tab, .z-tabbox-top .panel {
	border-radius: 0;
}

.z-datebox-button:hover .z-datebox-icon {
	color: #6B6C70 !important;
}

.z-datebox-icon {
	color: #6B6C70 !important;
}

.z-tabbox-top>.z-tabs .z-tab.z-tab-selected:first-child, .z-tab-selected,
	.z-tab-selected:hover, .z-tabpanels {
	background: #3ba4c2;
	box-shadow: 0px 2px 0px #DFF0D8;
}

.z-tab-selected .z-tab-text {
	color: #ffffff;
}

.z-tabpanel .row {
	margin: 0px;
	background: #fff;
	border: 1px solid #ccc;
}

a.z-tab-content:hover {
	text-decoration: none
}

ul.z-tabs-content {
	margin-top: 10px;
	border-bottom: none;
}

.panel-default {
	border-top-left-radius: 0px !important;
}

/* .z-tabs .panel-default, .panel-body { 
	padding-bottom : 0px !important;
} */
.footer, .z-tabs, .z-tabs ul, .z-tabpanel, .z-tabpanels, .navbar-nav>li>.dropdown-menu a
	{
	border-radius: 0px !important;
}

.z-groupbox-header {
	border-radius: 0px !important;
}

.z-groupbox-content {
	border-radius: 0px !important;
}

.z-paging-input {
	border-radius: 0px;
	text-align: center;
}

/* .row .col-lg-10, .row .col-lg-12 {
	margin-top: 15px
} */
.dropdown:hover .dropdown-menu {
	
}

.z-notification-content {
	font-family: Montserrat-Bold;
	font-size: 14px;
	font-weight: normal;
	width: 100%;
	/* min-height: 60px; */
	border-radius: 0px;
	padding: 18px 18px 15px 45px;
	position: relative;
	overflow: hidden;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.z-notification-icon.z-icon-info-circle {
	font-size: 24px;
	left: 12px;
	/* margin-top: -18px; */
}

.z-notification-info .z-notification-content {
	background: none repeat scroll 0% 0% #20A418;
}

.middle-align {
	margin-top: 6px
}

.nav-side-menu {
	font-size: 12px;
	font-weight: 200;
	background: #FFFFFF;
	width: 243px;
	color: #e1ffff;
	float: left;
	min-height: calc(100vh - 60px);
	overflow: auto;
	box-shadow: 0 1px 2px 0 rgba(38, 50, 69, 0.16);
	transition: all .5s ease;
}

.nav-side-menu .brand {
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.body-include {
	height: 100%;
}

.box-col-full {
	width:100%;
	margin-top: 0px;
	height:auto;
	overflow: auto;
}

#page-wrapper {
	padding: 0;
	background-color: #F4F6F8;
	min-width:1007px;
	min-height:calc(100vh - 60px) !important;
	height:auto;
	width:auto;
	font-family: Roboto-Medium;
	display:flex;
}

.form-list {
	border-radius: 8px;
	background: transparent;
}

.panel-list {
	margin: 15px;
	border-bottom: none;
}
/*style tile list*/
.page-header {
	font-family: Roboto-Bold;
	font-size: 16px;
	color: #2C2C2C;
	font-weight: 700;
	margin: 6px 0 12px !important;
	border-bottom: none !important;
	padding-bottom: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box-col-7 {
	float: right;
	height: auto !important;
}

.content-popup .z-window-content {
	/* background: white !important; */
	height: auto !important;
	overflow: hidden !important;
}

.content-popup .w-popup-content {
	width: 407px;
	padding: 0 15px;
}

.w-popup-user .z-window-content {
	background: white !important;
	height: auto !important;
}

.form-list .z-window-content {
	padding: 0px !important;
	background:transparent;
}

.doan-vao-tai-lieu .z-window-content {
	height: auto !important;
	overflow: inherit !important;
}
/*ghi de*/
.z-page {
	height: 100vh !important;
	height: 100%;
}

.nav-side-menu ul, .nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before, .nav-side-menu li :not(collapsed) .arrow:before
	{
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.form-control {
	box-shadow: none;
	color: #000;
	line-height: 18px !important;
}

.img-upload {
	margin: 5px 5px 5px 10px;
	width: 13px;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover
	{
	background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before
	{
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.nav-side-menu li {
	padding-left: 0px;
	/* padding: 20px 10px; */
	position: relative;
	/* height: 58px; */
	overflow: hidden;
}
.nav-side-menu li > a {
	padding: 15px 10px;
}
.text-menu {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.nav-side-menu li a {
	text-decoration: none;
	font-size: 15px;
	color: #404247;
	line-height: 25px;
	font-family: Roboto-Regular;
	display: block;
    width: 100%;
}

.nav-side-menu li a i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}

.img-menu {
	padding: 0 14px;
	width: 16px;
	margin: 0 20px 0 10px;
	height: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.tro-giup {
	width: 800px;
}

.arrow-down{
	display: none;
}

.qlda {
	background-image: url('../../assets/icon-bxtdn/ql-du-an.svg');
}

.qldv {
	background-image: url('../../assets/icon-bxtdn/quan-li-doan-vao.svg');
}

.qlgv {
	background-image: url('../../assets/icon-bxtdn/ql-giao-viec.svg');
}

.bctk {
	background-image: url('../../assets/icon-bxtdn/Bao-cao-thong-ke.svg');
}

.qlht {
	background-image: url('../../assets/icon-bxtdn/qt-he-thong.svg');
}

.ditich {
	background-image: url('../../assets/img/front/quan_ly_loai_di_tich.svg');
}

.ditichat {
	background-image: url('../../assets/img/front/quan_ly_loai_di_tich.svg');
}

.lehoi {
	background-image: url('../../assets/img/front/quan_ly_loai_le_hoi.svg');
}

.lehoiat {
	background-image: url('../../assets/img/front/quan_ly_loai_le_hoi.svg');
}

.disan {
	background-image: url('../../assets/img/front/quan_ly_loai_di_san.svg');
}

.disanat {
	background-image: url('../../assets/img/front/quan_ly_loai_di_san.svg');
}

.thuctrang {
	background-image:
		url('../../assets/img/front/quan_ly_thuc_trang_di_tich.svg');
}

.thuctrangat {
	background-image:
		url('../../assets/img/front/quan_ly_thuc_trang_di_tich.svg');
}

.loaiditich {
	background-image: url('../../assets/img/front/quan_ly_loai_di_tich.svg');
}

.loaiditichat {
	background-image: url('../../assets/img/front/quan_ly_loai_di_tich.svg');
}

.loailehoi {
	background-image: url('../../assets/img/front/quan_ly_loai_le_hoi.svg');
}

.loailehoiat {
	background-image: url('../../assets/img/front/quan_ly_loai_le_hoi.svg');
}

.loaidisan {
	background-image: url('../../assets/img/front/quan_ly_loai_di_san.svg');
}

.loaidisanat {
	background-image: url('../../assets/img/front/quan_ly_loai_di_san.svg');
}

.donvi2 {
	background-image: url('../../assets/img/front/quan_ly_don_vi.svg');
}

.donvi2at {
	background-image: url('../../assets/img/front/quan_ly_don_vi.svg');
}

.thongke2 {
	background-image: url('../../assets/img/front/thong_ke.svg');
}

.thongke2at {
	background-image: url('../../assets/img/front/thong_ke.svg');
}

.gop-y {
	background-image: url('../../assets/img/front/gop_y_phan_mem.svg');
}

.gop-yat {
	background-image: url('../../assets/img/front/gop_y_phan_mem.svg');
}

.caidatthamso {
	background-image: url('../../assets/img/front/cai_dat_tham_so.svg');
}

.caidatthamsoat {
	background-image: url('../../assets/img/front/cai_dat_tham_so.svg');
}

.donvi {
	background-image: url('../../assets/img/front/donvi.svg');
}

.donviactive {
	background-image: url('../../assets/img/front/donviat.svg');
}

.nguoidung {
	background-image: url('../../assets/img/front/nguoidung.svg');
}

.nguoidungat {
	background-image: url('../../assets/img/front/nguoidungat.svg');
}

.nhomnguoidung {
	background-image: url('../../assets/img/front/nhomnguoi.svg');
}

.nhomnguoidungat {
	background-image: url('../../assets/img/front/nhomnguoidungat.svg');
}

.phien {
	background-image: url('../../assets/img/front/phienlamviec.svg');
}

.phienat {
	background-image: url('../../assets/img/front/phienlamviecat.svg');
}

.cauhinh {
	background-image: url('../../assets/img/front/cauhinhhethong.svg');
}

.cauhinhat {
	background-image: url('../../assets/img/front/cauhinhhethongat.svg');
}

.fileUpload {
	padding: 5px 10px;
}

.z-upload {
	display: block !important;
}

.line-panel {
	border-top: 1px solid #E0E2E6;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.nav-side-menu li:hover {
	background: rgba(121, 149, 216, 0.1);
}

.reset-bg {
	box-shadow: none;
}

.reset-bg .z-window-content {
	background: #FFF;
}

@media ( max-width : 1024px) {
	
	.img-menu {
		margin: 0;
	}
	.nav-side-menu {
		width: 50px;
	}
	.children-nav {
		height:0;
		max-height:0px ;
	}
	.text-menu {
		display:none;
	}
	.box-header-imgbar {
		display:none;
	}
	.header-parent {
		width:50px;
	}
	.header-children {
		width:50px;
	}
	
}

.form-group .z-datebox-button {
	padding-top: 7px;
}

body {
	margin: 0px;
	padding: 0px;
}

.required {
	color: red;
	line-height: 18px;
}

/* .glyphicon {margin-right: 10px;}
.glyphicon span {margin-left: -8px}
.glyphicon-plus-sign.add-category{ font-size: 2em !important; top: 0px !important} */
.grid_ket_qua_tham_dinh .z-textbox, .grid_ket_qua_tham_dinh z-textbox-inplace
	{
	box-shadow: none !important
}

.chi-phi .z-textbox, .grid_ket_qua_tham_dinh z-textbox-inplace {
	box-shadow: none !important
}

.z-textbox[disabled] {
	background-color: #EEE !important;
}

.dash-menublock {
	text-align: center;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px
}

.dash-menublock a {
	display: block;
	border: 1px solid #ccc;
	padding: 20px;
	width: 140px;
}

.dash-menublock .dash-icon {
	font-size: 64px !important;
	color: #5bc0de;
	line-height: 1
}

.dash-menublock .dash-title {
	font-size: 14px !important;
	display: block;
	margin-top: 5px
}

.z-listheader, .z-grid-header, .z-grid-header table th {
	white-space: normal;
}

.fontB {
	font-weight: bold;
}

.withTxt1 {
	width: 250px
}

.nonePadding-right {
	padding-right: 0px !important;
}

.timKiem .z-listitem .z-listcell {
	border-bottom: 1px solid #ddd !important;
	border-color: #ddd !important;
}

.timKiem .z-grid {
	border-bottom: none !important;
}

.timKiem .z-grid table .z-grid-emptybody td {
	border-bottom: 1px solid #ddd;
}

.timKiem th:first-child {
	border-left: none
}

/* .thaotac {text-align: center} */
.thaotac button {
	margin: 5px 0;
	width: 54px;
}

.thaotac button.square {
	width: 24px;
	height: 24px;
	padding: inherit;
}

.thaotac button:not (:first-child ){
	margin-left: 5px;
}

.nopadding-right-7 {
	padding-right: 7px !important;
}

.nopadding {
	padding-left: 0px
}

.form-control[disabled] {
	background-color: #F0EDED !important;
}

.gtGiamDeu {
	text-align: right;
	margin-top: -4px;
}

.wd-fix-width .col-md-2 {
	text-align: center;
	min-height: 280px;
	position: relative
}

.wd-fix-width .col-md-2 .btn.green {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	margin-left: -15px
}

.navigation {
	width: 25px;
	height: 25px;
	z-index: 999999999;
	position: absolute;
	top: 44%;
	right: 20px;
	margin-right: 6px;
}

.tab-error span {
	color: red !important
}

/* Fix some col on width: 1024*/
@media screen and (max-width: 950px) {
	.wd-col-fit-txt {
		word-wrap: break-word;
	}
	.wd-col-fix-width {
		width: 100px !important;
	}
	.mis-datebox-inner {
		width: 99% !important
	}
	.wd-fix-scbx, .wd-fix-input {
		width: 100% !important
	}
}

.fix-menu .z-menubar {
	background: none !important;
}

.fix-menu .z-menu-content:hover {
	background: none !important;
}
.menu-content {
	position: absolute;
	width:243px;
	transition: width .5s ease;
}
.fix-menu li {
	border: none !important;
	width: 99% !important;
}

.fix-menu .z-menu-content:hover, .z-menu-selected>.z-menu-content {
	background: none !important;
	border-color: #EFECEC !important;
}

.fix-menu li.z-menu {
	border: none !important;
	width: 99% !important;
}

.fix-menu span {
	color: #fff;
	font-weight: bold;
	text-shadow: none;
}

.fix-menu .z-menu-icon {
	padding-top: 3px
}

.z-combobox-disabled, .z-bandbox-disabled, .z-datebox-disabled,
	.z-timebox-disabled, .z-spinner-disabled, .z-doublespinner-disabled {
	opacity: 1 !important;
}

.popupChuDt {
	margin-top: 10px;
}

.popupChuDt .col-md-3 {
	text-align: right;
}

.popupChuDt button {
	margin-top: 10px
}

.treeDiaDiem button {
	margin-right: 5px;
}

.z-auxheader {
	background: #3ba4c2 !important;
}

.z-auxheader-content, .z-listheader-content, .z-column-content {
	font-family: Roboto-Bold;
	/* word-wrap: break-word; */
	white-space: normal;
	font-size: 13px;
	line-height: 18px;
	padding: 4px 8px 3px;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.brd-bot-no-radius {
	border-bottom: 1px solid #ddd;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.brd-top-no-radius {
	border-top: 1px solid #ddd;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

th.header {
	background: #DDEEFB repeat-x 0 0 !important;
	text-align: center;
	color: #144BA1 !important;
	font-weight: bold !important;
}

td.last, th.last {
	border-right-width: 0px !important;
}

.list-front td div:first-child {
	min-height: 34px
}

.grid-spreadsheet {
	border-radius: 0px
}

.grid-spreadsheet th {
	white-space: pre-line
}

.grid-spreadsheet input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.grid-group-header {
	position: relative
}

.grid-group-body {
	position: relative;
	overflow: auto;
	max-height: 500px
}

.grid-group-header .z-auxheader-content, .grid-group-body .z-auxheader-content
	{
	padding: 0px !important;
}

.grid-group-body .z-label {
	font-size: 13px !important;
}

.grid-group-header div.grid-spreadsheet .z-listbox-body,
	.grid-group-body div.grid-spreadsheet .z-listbox-body {
	overflow: hidden !important
}

.grid-group-header div.grid-spreadsheet .z-listbox-header-border {
	border-bottom: none
}

.grid-group-header div.grid-spreadsheet .z-listbox-header th.label-merge-header
	{
	border-left: 1px solid #ddd;
}

.grid-group-body div.grid-spreadsheet .z-listbox-header,
	.grid-group-footer div.grid-spreadsheet .z-listbox-header {
	display: none;
	border-top: none
}

.grid-group-footer {
	margin-bottom: 15px
}

/* Highlight on hover table row */
.highlight td {
	background-color: #f5f5f5
}

.z-listitem.z-listitem-selected>.z-listcell {
	border-color: #e0e2e6;
	background: #dce6ec;
}

.z-listitem.z-listitem-selected:hover>.z-listcell {
	border-color: #d0e9c6;
	background: #eaf6f9;
}

.italic {
	font-style: italic;
}

.number {
	text-align: right
}

.number input {
	text-align: right;
	width: 100%;
	font-size: 13px
}

/* Highlight on hover Notification */
.notifi-mesg {
	margin-top: 5px;
}

.dropdown-menu .item-noti a:hover {
	background-color: #bce8f1 !important;
	color: #269abc !important;
}

.read span {
	color: #666
}

.unread span {
	font-weight: bold
}

.navbar-top-links .dropdown-messages li>a:hover>div>span {
	color: #fff
}

.z-textbox[disabled], .z-decimalbox[disabled], .z-intbox[disabled],
	.z-longbox[disabled], .z-doublebox[disabled], input[disabled] {
	cursor: not-allowed !important;
	background-color: #F9F9F9 !important;
}

.panel-body .z-combobox-input[readonly], .panel-body .z-bandbox-input[readonly],
	.panel-body .z-datebox-input[readonly], .panel-body .z-timebox-input[readonly],
	.panel-body .z-spinner-input[readonly], .panel-body .z-doublespinner-input[readonly],
	.panel-body input[readonly] {
	background-color: #F9F9F9 !important;
}

#notification {
	position: fixed;
	top: 0;
}

.z-menuitem-content:HOVER {
	text-decoration: none !important;
}

.mr-15 {
	margin-right: 15px;
}

.textCenter {
	text-align: center;
}

.textRight {
	text-align: right;
}

.textLeft {
	text-align: left;
}

.add-category-btn {
	width: 25px;
	height: 34px
}

a>span.glyphicon.add-category {
	font-size: 2em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* processing popup */
.z-loading {
	top: 50% !important;
	left: 45% !important;
	align: center;
	vertical-align: middle;
	background: #96e3fa !important
}

.z-loading-indicator {
	display: flex;
	justify-content: center;
	background-color: white;
}

.z-loading-icon {
	filter: saturate(3);
	margin-right: 10px;
	width: 1px;
	height: 1px;
	border: 10px solid transparent;
	border-radius: 0px;
	animation: loader 3s ease-in infinite, spin 1s linear infinite;
}

.z-loading-icon::before {
	filter: saturate(0.3);
	display: block;
	position: absolute;
	z-index: -1;
	margin-left: -10px;
	margin-top: -10px;
	content: '';
	height: 1;
	width: 1;
	border: 10px solid transparent;
	border-radius: 0px;
	animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite
		reverse;
}

.z-loading-icon::after {
	display: block;
	position: absolute;
	z-index: 2;
	margin-left: -5px;
	margin-top: -5px;
	content: '';
	height: 5px;
	width: 5px;
	border-radius: 0px;
}
 
.custom-time-box {
	padding-left: 0px !important;
}
.w-table-no-scroll .z-grid-body{
	min-width:auto;
}
.w-table-no-scroll .z-grid-header{
	min-width:auto;
}
.w-table-no-scroll .z-grid-header-border{
	min-width:auto;
}
.w-table-qlda .z-grid-body{
	min-width:1250px;
}
.w-table-qlda .z-grid-header{
	min-width:1250px;
}
.w-table-qlda .z-grid-header-border{
	min-width:1250px;
}
.z-grid-body {
	border-bottom: 1px solid #cfcfcf;
	width: 100% !important;
	min-width: 1125px;
}

.z-grid-header {
	min-width: 1125px;
	width: 100% !important;
}

.z-grid-header-border {
	min-width: 1125px;
	width: 100%;
}

@
keyframes loader { 0% {
	border-bottom-color: transparent;
	border-top-color: #114357
}

25%
{
border-left-color
:transparent
;border-right-color
:
#826C75
}
50%
{
border-top-color
:transparent
;border-bottom-color
:
#F29492
}
75%
{
border-right-color
:transparent
;border-left-color
:
#826C75
}
100%
{
border-bottom-color
:transparent
;border-top-color
:
#114357
}
}
@
keyframes spin { 0% {
	transform: rotate(0deg)
}

100%
{
transform
:
 
rotate
(-360deg)
}
}
/* processing popup */
.z-timebox-button>a, .z-spinner-button>a, .z-doublespinner-button>a,
	.z-timebox-button>a ~ a, .z-spinner-button>a ~ a,
	.z-doublespinner-button>a ~ a {
	height: 17px;
}

.z-timebox-button:hover>i, .z-spinner-button:hover>i,
	.z-doublespinner-button:hover>i {
	top: 15px;
}

.form-control {
	border-radius: 0px;
	line-height: 18px !important;
}

.z-listitem td {
	border-bottom: 1px solid #ddd;
}

/* BaoCaoNhuCauVonGrid */
.grid-group-short {
	position: relative;
	overflow: auto;
}

.shortList-front {
	position: absolute;
	top: 0;
	border-bottom: none;
}

.shortList-front .z-listbox-body {
	margin-bottom: -16px !important;
}

.shortList-front .z-listbox-paging-bottom {
	display: none !important;
}

.z-listbox-autopaging .z-listcell-content {
	height: auto !important;
}

.z-tree-header table {
	background: #1d2e50 !important;
	height: 50px;
	font-size: 14px;
	border-spacing: 0;
}

.z-treecol-content {
	font-family: 'Roboto-Medium';
	word-wrap: break-word;
	white-space: normal;
	color: #fff !important;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.z-tree {
	border: 1px solid #E0E2E6 !important;
	border-bottom: none;
	margin-bottom: 15px;
}

.z-treecell-content {
	color: #0076D7 !important;
	font-size: 13px;
	line-height: 18px;
	height: 50px;
	display: flex;
	align-items: center;
}

.z-tree-icon {
	margin-right: 5px;
}

.z-tree-icon, .z-tree-line {
	display: inline-block !important;
}

.z-tree-header table th {
	background: #1d2e50 !important;
	height: 50px;
	font-size: 14px
}

.z-tree-body table td {
	border-bottom: 1px solid #f4f4f4;
}

.button-list {
	display: inline-flex;
	border: 1px solid #D3D9E2;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.md-image-z {
	margin-top: 15px;
}

.z-comboitem, .z-comboitem a, .z-comboitem a:visited {
	font-family: Roboto-Regular;
}

.z-datebox-input {
	width: calc(100% - 36px) !important;
	font-family: Roboto-Medium;
	font-size: 13px;
	color: #292A2D;
	text-align: left;
	line-height: 18px;
}

.box-search-ct {
	border-top: 1px solid #e8e5e5; */
	border-bottom: 1px solid #e8e5e5;
	background: none repeat scroll 0 0 #F4F6F7;
	margin-bottom: 10px;
}

.header-top-be {
	display: flex;
	width: 100%;
	height: 60px;
	background: #4274ED;
	justify-content: space-between;
	min-width: 1007px;
}

.header-top-be a {
	text-decoration: none;
}

.pd-header-avarta {
	padding-right: 10px;
}

.dropdown-menu {
	margin-top: 0px !important;
	margin-right: 5px;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: #4274ED;
}

.box-bell {
	display: flex;
	width: 62px;
	height: 60px;
	margin: 0;
	padding: 0 20px;
	z-index: 1799;
	background-color: #4274ED;
	cursor: pointer;
}

.bg-popup-box {
	width: 100vw;
	height: 100vh;
	background-color: #262A35;
	opacity: 0.9;
	z-index: 1798;
	position: fixed;
	display: none;
	cursor: pointer;
}

.box-dropdown-bg {
	background: #FFFFFF;
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.30);
	margin: 0 !important;
	padding: 0 !important;
	border-radius: 4px 0 4px 4px;
}

.image-notify {
	padding-right: 10px;
}

.box-relative {
	position: relative;
	width: 26px;
}

.z-row-content .z-combobox-readonly {
	margin-top: 0 !important;
}

.z-row-content .z-datebox {
	margin-top: 0 !important;
}

.z-row-content>.z-combobox-readonly>.z-combobox-input {
	border: none !important;
	background-color: transparent !important;
	padding-left: 0;
}

.color-txt input {
	font-family: Roboto-Medium !important;
	font-size: 13px !important;
	letter-spacing: 0 !important;
	line-height: 18px !important;
	color: #000000 !important;
}

.z-row-content>.z-datebox .z-datebox-input {
	border: none !important;
	background-color: transparent !important;
	padding-left: 0;
}

.z-row-content>.z-datebox .z-datebox-input:focus {
	border: none !important;
	background-color: transparent !important;
	padding-left: 0;
}

.z-row-content>.edit-datebox-kh.z-datebox .z-datebox-input:focus {
	border: none !important;
	background-color: transparent !important;
	padding-left: 0;
	box-shadow: none !important;
}

.z-row-content>.z-datebox .z-datebox-button {
	border: none !important;
	background-color: transparent;
}

.z-row-content>.z-combobox-readonly>.z-combobox-button {
	border: none;
	background-color: transparent;
}

.color-txt {
	font-family: Roboto-Medium !important;
	font-size: 13px !important;
	letter-spacing: 0 !important;
	line-height: 18px !important;
}

.edit-textbox-kh {
	border: none !important;
    margin-top: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}

.z-row-content .z-combobox-button:hover, .z-bandbox-button:hover,
	.z-datebox-button:hover, .z-timebox-button:hover, .z-spinner-button:hover,
	.z-doublespinner-button:hover {
	background-color: transparent !important;
}

.box-header-left {
	display: flex;
}

.box-header-imgbar {
	height: 60px;
	padding-top: 20.5px;
	padding-left: 15px;
	cursor: pointer;
}

.box-relative .img-notify {
	position: absolute;
	left: 0;
	top: 20px;
}
.img-notify-animation {
	-webkit-animation: ring 4s .7s ease-in-out;
	-webkit-transform-origin: 50% 4px;
	-moz-animation: ring 4s .7s ease-in-out;
	-moz-transform-origin: 50% 4px;
	animation: ring 4s .7s ease-in-out;
	transform-origin: 50% 4px;
}
@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

.container-notify {
	width: 300px;
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #E9ECF0;
}

.container-notify:last-child {
	border-bottom: none;
}

.content-notify .box-content-notify .text-bold-notify {
	font-family: Roboto-Bold;
	font-size: 13px;
	color: #292A2D;
	line-height: 18px;
	word-break: break-word;
}
.z-button-image {
	margin-right:5px;
}
.content-notify .box-content-notify .text-regular-notify {
	font-family: Roboto-Regular;
	font-size: 13px;
	color: #2A2A2A;
	line-height: 18px;
}

.content-notify .box-content-notify .text-date-notify {
	font-family: Roboto-Italic;
	font-size: 12px;
	color: #888888;
	letter-spacing: 0;
	line-height: 16px;
}

.box-content-thongbao::-webkit-scrollbar {
	width: 5px;
}

.box-content-thongbao::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.box-content-thongbao::-webkit-scrollbar-thumb {
	background: #888;
}

.pd-header-avarta:hover .dropdown-menu {
	display: block;
}

.img-avarta-style {
	width: 200px; 
	height: 180px;
	object-fit:cover;
	border-radius: 50%;
}

.box-relative .number-box {
	position: absolute;
	right: -4px;
	top: 12px;
	background: #F20522;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	text-align: center;
	font-family: Roboto-Bold;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 16px;
	padding-top: 2px;
}

.toggle-menu-bar {
	padding: 0 15px;
}

.menu-icon-repon {
	padding-top: 18px;
	padding-right: 15px;
}

.mis-image-upload {
	height: 140px;
}

.text-right {
	max-width: auto;
}

.popup-gopy-phanmem {
	max-width: 621px;
	width: 100vw;
}

.rest-content-wd .z-window-content {
	height: auto !important;
	overflow: inherit !important;
	
}
.rest-content-wd{
	overflow: inherit !important;
}
.popup-vaitro {
	max-width: 600px;
}

.popup-image {
	max-width: 1000px;
	width: 100%;
}

.box-user-fm {
	display: flex;
}

.z-grid {
	overflow: auto;
	width: auto;
	overflow-y: visible;
}

.reset-width .z-window-content {
	background: white !important;
	height: auto !important;
	overflow: hidden !important;
}

.z-bandbox-popup {
    right: 48px;
    overflow-x: hidden; 
}

.toast-success {
	box-shadow: none !important;
	opacity:1 !important;
}

.z-row-content span {
	word-break: break-word;
}

.z-combobox-content {
	max-width: 600px;
}